@media screen and (max-width: 1200px) {
  .banner video {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-article {
    max-width: 100%;
    padding: 0 0 2rem 1.5rem;
  }

  .footer-links {
    max-width: 50%;
  }

  .footer-links:first-of-type {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: auto;
  }
  .banner {
    min-height: 50vh;
  }

  .banner-text h1 {
    font-size: 3rem;
  }

  .banner-text p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 540px) {
  :root {
    --offset: 3rem;
    --nav-menu-width: 16rem;
  }

  .nav-menu {
    padding-left: 2rem;
  }

  .nav-wrapper:hover .nav-menu li {
    width: 5rem;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    max-width: 100%;
  }

  .footer-links:first-of-type {
    margin-bottom: 1.5rem;
  }

  .footer-links:last-of-type {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --h2-font-size: 1.7rem;
  }

  .banner-text h1 {
    font-size: 2.5rem;
  }

  .banner-text p {
    font-size: 1.1rem;
  }
}
